@media screen and (min-width:992px){
	.schiri_sub_header li,
	.schiri_sub_header li:hover,
	.schiri_sub_header li:first-child{
		width:80px;
		border:none;
		padding-left:20px;
		padding-right:20px;
		float:left;
    	border-radius: 3px;
	}
	.schiri_sub_header li img{
		float:none;
		transition:0.4s ease-in-out;
	}
	.schiri_sub_header li:hover{
		/*border-bottom: 2px solid #fff!important;*/
	}
	.schiri_sub_header li:hover img{
		/*padding-bottom:10px;*/
		max-width:30px;
	}
	.schiri_bkg_1{
		min-height:700px;
		padding-top:300px;
	}

}
@media screen and (max-width:992px){
	/* SITE  */ 
	.schiri_container{
		max-width: 600px;
	}
	.schiri_content h1 {
    	padding-top: 50px;
    }	
    .schiri_welcome_box h1{
    	padding-top:0px;
    	margin-bottom:0px;
    }
	.schiri_bkg_1{
		background-size:cover;
		background-image: url("../img/riccardo.jpg");
		background-position: center;
		background-attachment:none;
		max-height:670px;
		padding:100px 20px;
	}
	.schiri_timeline{
		min-height:1000px;
		border-top:0px;
		border-left:2px solid #2b3885;
		max-width: 250px;
    	margin: 0 auto;
	}
	.schiri_timeline_block:first-child{
		margin-left:20px;
	}
	.schiri_timeline_block{
		clear:both;
		margin-top:20px;
		margin-left:20px;
		position:relative;
		max-height: 150px;
		padding-top:60px;
	}
	.schiri_circle_icon {
	    background-color: #0983e4;
	    width: 50px;
	    height: 50px;
	    border-radius: 50%;
	    text-align: center;
	    position: relative;
	    top: 70px;
	    left: -50px;
	    position:absolute;
	}
	.schiri_portfolio_blocco{
		width:49%;
		float:none;
		margin:0 auto;
		border:2px solid #0983e4;
		border-bottom:0px;
	}
	.schiri_portfolio_blocco:last-child{
		border-bottom:2px solid #0983e4;
	}

	.schiri_footer_block_left, 
	.schiri_footer_block_center,
	.schiri_footer_block_right{
		float:none;
		width:100%;
		border-left:none;
		border-bottom:1px solid #6e6e6e;
	}
	.schiri_footer_block_left{
		/*padding-left:25px;*/
	}
	.schiri_block_skill_progress{
		float:none;
		width:100%;
		max-width:220px;
  	    margin: 0 auto;
	}

	
}
@media screen and (max-width:768px){
	/* SITE  */ 
	.schiri_welcome_box h1{
		padding-top:0px;
	}
	.schiri_welcome_box h4{
		font-size:24px;
	}
	.schiri_container{
		max-width: 500px;
	}

	.schiri_dashboard_block_container{
		display:inline-block;
	}
	.schiri_bkg_1{
		padding:50px 20px;
	}
	.schiri_dashboard_base{
		max-height:300px;
	}
	.schiri_dashboard_block_2{
		width: 100%;
		border-right:0px;
		border-bottom:1px solid #fff;
		display:block;
	}
	.schiri_dashboard_block_4{
		width:50%;
		display:block;
		float:left;
	}
	.schiri_portfolio_blocco{
		width:100%;
	}

	.schiri_bkg_1,
	.schiri_bkg_3,
	.schiri_bkg_4{
		margin-top:80px;
	/*	height: calc(120vw - 100px); */
	}
	.schiri_bkg_3, .schiri_bkg_4{
		max-height:unset;
		padding: 50px 20px;
		height:unset;
	}
	.schiri_post .schiri_post_left,
	.schiri_post .schiri_post_right{
		width:100%;
	}

	.schiri_post p{
		padding:10px 0;
	}
	.schiri_post button{
		margin-left:0;
	}
	.schiri_post .schiri_post_right{
		border-bottom:2px solid #0983e4;
	}
	.schiri_second_sub_header{
		display:none;
	}
}
@media screen and (max-width:468px){
	/* SITE  */ 
	.schiri_header{
		min-height:80px;
	}
	.schiri_sub_header{
		top:80px;
	}
	.schiri_brand{
		padding-top:20px;
	}
	.schiri_menu img{
		margin-top:20px;
		max-width:20px;
	}
	.schiri_sub_header li{
		padding-top:10px;
		padding-bottom:15px;
	}
	.schiri_welcome_box {
		margin-top: 0px;
	    text-align: center;
	    font-family: Arial;
	    padding: 10px 0px 20px;
	    border-radius: 3px;
	  /*  background-color: rgba(0, 0, 0, 0.7); */
	}
	.schiri_welcome_box h1{
		max-width:300px;
		color: #ffffff;
    	margin-bottom: 0px;
	}
	.schiri_container h1 img{
		max-width:25px;
		margin-top:0px;
	}
	.schiri_bkg_1 {
		padding:40px;
	}
	.schiri_content h1{
		font-size: 24px;
	    padding-top: 20px;
	    max-width: 300px;
	    padding-bottom: 5px;
	}
	.schiri_welcome_box h4{
		font-size: 16px;
	    font-weight: 400;
	    color: #03A9F4;
	    margin-top: 0px;
	}
	.schiri_content p{
		font-size:14px;
	}
	.schiri_container{
		max-width: 300px;
	}
	.schiri_container h1 img {
		display:block;
	}
	.schiri_line_white{
		display:none;
	}
	.schiri_btn{
		padding: 8px 20px;
		font-size: 18px;
		margin-top:5px;
	}
	/* MODAL */
	.schiri_modal_header{
		min-height:80px;
	}
	.schiri_modal_header h1{
		font-size: 20px;
   		max-width: 300px;
	}
	.schiri_btn_modal_close{
		float:right;
		margin-top:25px;
		margin-right:0px;
	}
	.schiri_btn_modal_close img{
		max-width:25px;
	}
	.schiri_modal_header:after{
		min-height:80px;
	}
	.schiri_dashboard_block_4{
		display:block;
		width:100%;
	}
	.schiri_footer label, .schiri_footer input, .schiri_footer textarea{
		max-width:260px!important;
	}
	.schiri_footer p {
 	   padding: 20px 20px 0 15px;
	}
	.schiri_social_icon a{
		display:block;
		width:100%;
		margin-bottom:5px;
	}
	.schiri_social_icon a span{
		position: relative;
    	top: -15px;
	}
	.schiri_social_icon img{
    	display: block;
    	left: 20px;
	}
	.schiri_footer_block_left img {
    	margin-left: -30px;
    }
    .schiri_footer_block_left a{
    	margin-left:15px;
    }
    .schiri_btn_return_back{
    	width:30px;
    	height:30px;
    	right:30px;
    	bottom:30px;
    }
    .schiri_btn_return_back img{
    	max-width:20px;
    	margin-left:5px;
    	margin-top:5px;
    }
    .schiri_bkg_4 .schiri_box_section{
	    top:0%;
	}
	.schiri_box_info a{
		padding:0;
		width:100%;
	}
}