@media screen and (max-width:992px){
	.schiri_container{
		max-width: 600px;
	}
	.schiri_bkg_1{
		background-size:cover;
		background-image: url("../img/riccardo.jpg");
		background-position: center;
		background-attachment:none;
		max-height:670px;
		padding:100px 20px;
	}
}
@media screen and (max-width:768px){
	.schiri_container{
		max-width: 500px;
	}
	.schiri_dashboard_block_container{
		display:inline-block;
	}
	.schiri_bkg_1{
		padding:50px 20px;
	}
	.schiri_dashboard_base{
		max-height:300px;
	}
	.schiri_dashboard_block_2{
		width: 100%;
		border-right:0px;
		border-bottom:1px solid #fff;
		display:block;
	}
}
@media screen and (max-width:468px){
	.schiri_header{
		min-height:80px;
	}
	.schiri_bkg_1{
		margin-top:80px;
		height: calc(120vw - 100px);
	}
	.schiri_sub_header{
		top:80px;
	}
	.schiri_brand{
		padding-top:20px;
	}
	.schiri_menu img{
		margin-top:10px;
	}
	.schiri_sub_header li{
		padding-top:10px;
		padding-bottom:15px;
	}
	.schiri_welcome_box h1{
		max-width:300px;
	}.schiri_container h1 img{
		max-width:25px;
		margin-top:0px;
	}
	.schiri_bkg_1 {
		padding:40px;
	}
	.schiri_content h1{
		font-size:24px;
		padding-top:20px;
		max-width: 300px;
	}
	.schiri_welcome_box h4{
		font-size:20px;
	}
	.schiri_content p{
		font-size:16px;
	}
	.schiri_container{
		max-width: 300px;
	}
	.schiri_container h1 img {
		display:block;
	}
	.schiri_line_white{
		display:none;
	}
}