.schiri_modal{
	height: 100%;
    width: 100%;
    background-color:rgba(255,255,255,0.9);
    position: fixed;
    z-index: 999999999;
    top: 0px;
    color: #000;
    display: none;
    overflow-y:auto;
}
.schiri_modal_header {
    border-bottom: 2px solid #2b3885;
    font-weight: 300;
    font-family: Helvetica;
    color: #fff;
    min-height: 100px;
    background-color: #3f51b5;
}
.schiri_modal_header h1{
	font-weight:300;
	font-family:Helvetica;
}
.schiri_modal_body h1{
    opacity:0;
}
.schiri_modal_body h2{
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:2px solid #03a9f4;
}
.schiri_modal_body img{
    text-align:center;
    margin:10px auto;
    max-width:500px;
    width:100%;
    height:auto;
}
.schiri_modal_body p {
    line-height: 150%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
}
.schiri_modal_header h1 {
    font-weight: 300;
    font-family: Helvetica;
    padding: 29px 20px 0px;
    float:left;
    font-family: "Raleway";
}
.schiri_btn_modal_close {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    border: 2px solid #0983e4;
    padding: 8px;
    border-radius: 3px;
    background-color: #03a9f4;
}
.schiri_btn_modal_close img {
    max-width: 40px;
}
.schiri_modal_header:after {
    content: "";
    min-height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    border-bottom: 2px solid #2b3885;
    background-color: #3f51b5;
    z-index: -1;
}