.schiri_modal{
	height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.9);
    position: fixed;
    z-index: 99999999;
    top: 0px;
    color: #fff;
    display: none;
}
.schiri_modal_header {
    border-bottom: 2px solid #03A9F4;
    font-weight: 300;
    font-family: Helvetica;
    min-height: 100px;
}
.schiri_modal_header h1{
	font-weight:300;
	font-family:Helvetica;
}
.schiri_modal_header h1 {
    font-weight: 300;
    font-family: Helvetica;
    padding: 29px 20px 0px;
    float:left;
}
.schiri_btn_modal_close {
    float: right;
    margin-top: 35px;
    margin-right: 30px;
}
.schiri_btn_modal_close img {
    max-width: 40px;
}